<div class="container-signin">
    <div class="header">Sign in</div>
    <form id="sign-in" class="simple_form new_user" action="/signin" accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="✓"><input type="hidden" name="authenticity_token" value="iZOApkA0eAjNh4pdkwUVDWN7PzQWKNLTuL2ArywjwT/CUJ0lNhIwXIuFAOaQ1bovQs5iCg2yOwMD7cPwQvH6yQ==">
        <fieldset>
            <div class="form-inputs">
                <div class="form-group email optional user_email"><label class="control-label email optional" for="user_email">Email</label><div><input class="form-control string email optional" type="email" value="" name="user[email]" id="user_email"></div></div>
                <div class="form-group password optional user_password"><label class="control-label password optional" for="user_password">Password</label><div><input class="form-control password optional" type="password" name="user[password]" id="user_password"></div></div>
            </div>
            <div class="form-group">
                <input type="submit" name="commit" value="Sign in" id="sign-in" class="btn-main button button-primary">
            </div>
        </fieldset>
    </form>
    <div class="signup">
        Don't have an account?
        <br>
        <a href="">Sign up here!</a>
    </div>
</div>