
a{
    text-decoration: none;
}
.navbar {
    text-align: center;
    position: relative;
    max-width: 1340px;
    margin: 0 auto;
    font-family: "Ubuntu";
    .logo {
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        position: absolute;
        top: 50%;
        left: 80px;
        width: 80px;
    }
    .nav-links {
        display: inline-block;
        line-height: 90px;
        a{
            display: inline-block;
            padding: 0 25px;
            color: rgba(41,70,97,0.8);
            -webkit-transition: color .3s ease;
            transition: color .3s ease;
        }
        
    }
    .sign-in{
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        position: absolute;
        top: 50%;
        right: 60px;
        .button-sign-in{
            padding: 11px 20px;
            font-size: 13px;
            color: #2196f3;
            border: 1px solid rgba(33,150,243,0.4);
            border-radius: 2px;
            -webkit-transition: all .3s ease;
            transition: all .3s ease;
        }
    }
    
}

.container-home{
    padding-top: 80px;
    width: 80%;
    padding-right: 10%;
    padding-left: 10%;
    text-align: center;
    font-family: "Ubuntu";
    .loader{
        display: block;
    }

    .url-input{
        width: 70%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 2px;
        box-sizing: border-box;
    }
    .test-button{
        padding: 11px 20px;
        font-size: 13px;
        color: #2196f3;
        border: 1px solid rgba(33,150,243,0.4);
        border-radius: 2px;
        -webkit-transition: all .3s ease;
        transition: all .3s ease;
        a{
            color: #2196f3;
        }
    }
}
